{% extends 'base.html' %}

{% block content %}
    <div class="py-3 my-3 text-center bg-body">
      <h1 class="display-5 fw-bold text-body-emphasis">InclusiWeb GmbH</h1>
        <img class="d-block mx-auto mb-4" src="startup.jpg" alt="" width="20%">
      <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Wir sind ein aufstrebendes Start-up, das sich leidenschaftlich für Barrierefreiheit und inklusives Design engagiert. Unser Ziel ist es, das Web für alle zugänglich zu machen. In unseren Kursen vermitteln wir praxisnahe Fähigkeiten, um Websites zu gestalten, die von Menschen mit unterschiedlichen Fähigkeiten problemlos genutzt werden können. Unsere Mission ist es, die digitale Welt für alle zu öffnen.
        Treten Sie gern mit uns in Kontakt!</p></div>
   </div>

      <div class="container w-25 mb-5">
      <div class="row">
        <div class="col">
          <label for="textArea" class="form-label">Vorname</label>
          <input type="text" class="form-control" placeholder="Max" aria-label="Vorname" id="vorname">
        </div>
        <div class="col">
          <label for="textArea" class="form-label">Nachname</label>
          <input type="text" class="form-control" placeholder="Mustermann" aria-label="Nachname" id="nachname">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" placeholder="max.mustermann@example.org" id="email">
      </div>
      </div>
      <div class="row my-3">
        <div class="col">
        <label for="textArea" class="form-label">Ihre Nachricht</label>
       <textarea class="form-control" id="textArea" rows="3"></textarea>
      </div>
      </div>
      <button type="button" class="btn btn-secondary">Senden</button>
    </div>
{% endblock %}


