{% extends 'base.html' %}

{% block content %}
 <div class="album bg-body mb-5">
    <div class="py-3 my-3 text-center">
      <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/pic.jpg') }}" alt="" width="25%">
      <h1 class="display-5 fw-bold text-body-emphasis">Kurs Barrierefreiheit</h1>
      <div class="col-lg-6 mx-auto">

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Kurs starten</button>
          <button type="button" class="btn btn-secondary btn-lg px-4">Abschluss-Test</button>
        </div>
      <p class="lead my-3">Im Kurs Barrierefreiheit lernen Sie:
          Warum Barrierefreiheit wichtig ist und was sie tun können,
          um Webseiten barrierefrei zu gestalten!
      </p>
      </div>
    </div>


   <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-5">
      <div class="col">
        <div class="card">
          <img class="mx-auto d-block card-img-top h-50" src="{{ url_for('static', filename='images/begriff.jpg') }}"></img>
          {% if einheit %}
          <div class="card-body bg-info">
            {% else %}
            <div class="card-body">
              {% endif %}
            <p class="card-text fw-bold">Begriff Barrierefreiheit</p>
            <div class="d-flex justify-content-between align-items-center">
                <a href="{{ url_for('begriff') }}"><button type="button" class="btn btn-sm btn-primary">{% if einheit %}Wiederholen{% else %}Start{% endif %}</button></a>
              <small class="text-body-secondary">10 Minuten</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img class="mx-auto d-block card-img-top h-50" src="{{ url_for('static', filename='images/massnahmen.png') }}"></img>
          <div class="card-body">
            <p class="card-text fw-bold">Maßnahmen</p>
            <div class="d-flex justify-content-between align-items-center">
                <a href="{{ url_for('massnahmen') }}"><button type="button" class="btn btn-sm btn-primary">Start</button></a>
              <small class="text-body-secondary">5 Minuten</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img class="mx-auto d-block card-img-top h-50" src="{{ url_for('static', filename='images/lernerfolge.jpg') }}"></img>
          <div class="card-body">
            <p class="card-text fw-bold">Lernerfolge</p>
            <div class="d-flex justify-content-between align-items-center">
                <a href="{{ url_for('lernerfolge') }}"><button type="button" class="btn btn-sm btn-primary">Start</button></a>
              <small class="text-body-secondary">15 Minuten</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


