{% extends 'base.html' %}

{% block content %}
      <div class="container">
      <h1 class="mt-5">Häufig gestellte Fragen</h1>
      <div class="accordion my-5" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              1. Wie lange dauert der Online-Kurs zur Barrierefreiheit?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Der Kurs umfasst insgesamt drei Stunden. Die Struktur ermöglicht jedoch auch eine flexible Zeiteinteilung,
              damit Sie den Kurs bequem in Ihren eigenen Zeitplan integrieren können.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              2. Welche Vorkenntnisse sind für die Teilnahme am Kurs erforderlich?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Der Kurs ist für Teilnehmer aller Erfahrungsstufen konzipiert.
              Es sind keine speziellen Vorkenntnisse im Bereich Barrierefreiheit oder Webdesign erforderlich.
              Die Lektionen sind klar strukturiert und werden schrittweise präsentiert, um auch Anfängern einen einfachen
              Einstieg zu ermöglichen.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              3. Erhalte ich nach Abschluss des Kurses ein Zertifikat?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Ja, nach erfolgreichem Abschluss des Kurses erhalten die Teilnehmer ein offizielles Zertifikat.
              Dieses Zertifikat bestätigt die Teilnahme am Online-Kurs zur Barrierefreiheit und zum barrierefreien Design.
              Es kann als Nachweis für erworbene Fähigkeiten und Kenntnisse in diesem wichtigen Bereich dienen.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              4. Gibt es Unterstützung oder Hilfestellung während des Kurses, falls ich auf Probleme stoße??
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Selbstverständlich! Wir bieten kontinuierlichen Support während des gesamten Kurses.
              Unser engagiertes Team steht Ihnen zur Verfügung, um Fragen zu klären und eventuelle Herausforderungen
              zu bewältigen. Sie können sich jederzeit an unser Support-Team wenden, sei es für technische Unterstützung
              oder um weitere Informationen zu den Kursinhalten zu erhalten.
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
