{% extends 'base.html' %}

{% block content %}
      <div class="container">

      <h1 class="mb-4">Impressum</h1>

      <dl class="row">
        <dt class="col-sm-3">Firma:</dt>
        <dd class="col-sm-9">InclusiWeb GmbH</dd>

        <dt class="col-sm-3">Geschäftsführer:</dt>
        <dd class="col-sm-9">Max Mustermann</dd>

        <dt class="col-sm-3">Adresse:</dt>
        <dd class="col-sm-9">Musterstraße 123, 12345 Musterstadt</dd>

        <dt class="col-sm-3">Telefon:</dt>
        <dd class="col-sm-9">+49 123 456 789</dd>

        <dt class="col-sm-3">E-Mail:</dt>
        <dd class="col-sm-9">info@inclusiweb.de</dd>

        <dt class="col-sm-3">Handelsregister:</dt>
        <dd class="col-sm-9">Amtsgericht Musterstadt, HRB 12345</dd>

        <dt class="col-sm-3">Umsatzsteuer-Identifikationsnummer:</dt>
        <dd class="col-sm-9">DE123456789</dd>

        <dt class="col-sm-3">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</dt>
        <dd class="col-sm-9">Max Mustermann</dd>

        <dt class="col-sm-3">Bildnachweise:</dt>
        <dd class="col-sm-9">Pixabay</dd>
      </dl>
    </div>

{% endblock %}