{% extends 'base.html' %}

{% block content %}
    <div class="container">

    <h1 class="mb-4">Datenschutzerklärung</h1>

    <p>Stand: 25.11.2023</p>

    <h2>1. Verantwortliche Stelle</h2>
    <address>
    InclusiWeb GmbH<br>
    Musterstraße 123<br>
    12345 Musterstadt
    </address>


    <h2>2. Erhebung und Verarbeitung personenbezogener Daten</h2>

    <p>Wir erheben und verarbeiten personenbezogene Daten gemäß den geltenden Datenschutzbestimmungen,
    insbesondere der Datenschutz-Grundverordnung (DSGVO). Personenbezogene Daten sind alle Informationen,
    die sich auf eine identifizierte oder identifizierbare natürliche Person beziehen. Die Erhebung erfolgt
    aufgrund unseres berechtigten Interesses an der effizienten Durchführung unserer angebotenen Dienstleistungen
    und der Verbesserung unserer Website. Die Daten werden nicht für andere Zwecke verwendet und nicht an Dritte
    weitergegeben, es sei denn, Sie haben ausdrücklich eingewilligt oder wir sind dazu gesetzlich verpflichtet.
    </p>

    <h2>3. Datensicherheit</h2>

    <p>Wir setzen technische und organisatorische Sicherheitsmaßnahmen ein, um Ihre Daten gegen unbeabsichtigte
      oder unrechtmäßige Löschung, Veränderung oder gegen Verlust und gegen unberechtigte Weitergabe oder unberechtigten
      Zugriff zu schützen.
    </p>

    <h2>4. Cookies</h2>

    <p>Unsere Website verwendet Cookies, um die Benutzerfreundlichkeit zu verbessern. Cookies sind kleine Textdateien,
      die auf Ihrem Endgerät gespeichert werden. Sie richten keinen Schaden an und enthalten keine Viren.
      Sie können die Verwendung von Cookies in den Einstellungen Ihres Browsers deaktivieren.
    </p>

    <h2>5. Auskunftsrecht und Kontakt</h2>

    <p>Sie haben das Recht auf Auskunft über die bei uns zu Ihrer Person gespeicherten Daten. Bei Fragen zur Erhebung,
      Verarbeitung oder Nutzung Ihrer personenbezogenen Daten, für Auskünfte, Berichtigung, Sperrung oder Löschung
      von Daten sowie zum Widerruf erteilter Einwilligungen wenden Sie sich bitte an die oben genannte verantwortliche Stelle.
    </p>

    </div>

{% endblock %}